# Created by IDE
.idea/
*.iml
.DS_Store

# Created by Builder
examples/build
test/build
weex_tmp
coverage
dist

# Node
logs
*.log
npm-debug.log*
node_modules
.npm

# Runtime data
pids
*.pid
*.seed

# build framework options by script
html5/runtime/config.js

# e2e test
html5/test/e2e/reports
html5/test/e2e/screenshots
html5/test/e2e/logs

# Xcode
*.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.swp
