.weex-img-wrap {
	box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  border: 0 solid black;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}